# Android Studio
.gradle/
local.properties
.gradle-wrapper/
*.iml
*.hprof
*.apk
*.ap_
*.aab
*.keystore
*.jks

# Android
app/build/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Android Studio
.idea/
*.iws
*.ewp
*.ewt

# Log
*.log
*.trace

# Environment
.DS_Store
.DS_Store?
Thumbs.db
